body {
  background-color: #eaedf2;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-weight: 600;
    font-size: 36pt;
    color: #4c498b;
}
.content {
    padding: 0 20px;
      position: relative;
      top: 120px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.container {
    text-align: center;
}
.header_pause {
  position: fixed;
  position: absolute;
  top: 25px;
  right: 20px;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-transform: uppercase;
    font-family: 'Roboto bold', sans-serif;
    line-height: 1.1;
    font-weight: 600;
    color: #4c498b;
    font-size: 36pt;
}
svg.down_arrow{
    margin-top: 20px;
}
.money {
    margin-top: 70px;
}

/*3th page code*/
.moneyBars{
    width: 24%;
    height: 10%;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 4%;
    left: 0%;
}

body {
    background-color: #EAEDF2;
}

.moneyBars > p {
    position: absolute;
    right: 19px;
    top: -35px;
    font-family: "Roboto";
    font-size: 32pt;
    color: #4C478C;
    font-weight: bold;
}

#tutorialOfPage3{
    position: absolute;
    top: 35%;
    left: 37%;
    font-size: 36pt;
    font-family: "Roboto";
    color: #4C478C;
    font-weight: bold;
}

#pausingIcon{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 15x;
    right: 15px;
}
#dollarIcon{
    width: 60px;
    height: 60px;
    position: absolute;
    top: -10px;
    left: 2px; 
}

 #savingMoney{
    width: 55px;
    height: 45px;
    position: absolute;
    top: 63%;
    left: 45%;
 }
 /**/