.page-4 {
    opacity: 0;
}

/*Overal Code*/
body{
    background-color: #eaedf2;
    color: #4c498b;
}

.money {
    position: absolute;
    left: -30px;
    top: 20px;
    border-radius: 90px;
    background: white;
    padding-left:60px;
    padding-right: 40px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 32pt;
    font-family:'roboto'; 
}

#pause {
    width: 65px;
    height: 60px;
    position: absolute;
    top: 31px;
    right: 0%;
}

#pointer-down {
  width: 40px;
  height: 30px;
  position: absolute;
  left: 575px;
  bottom: 300px;
  transform: rotate(180deg);
}

img.pointer-up {
    width: 40px;
    height: 30px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 300%;
    left: 0;
    bottom: 0;
    right: 0;
}
img#pointer-up{
    width: 40px;
    height: 30px;
    overflow: auto;
    margin: auto;
    position: absolute; 
    top: 55%;
    left: 37%;
    bottom: 0;
}

#heading { 
    position: absolute;
    left: 33%;
    top: 35%;
    font-size: 36pt;
    font-family: 'roboto';
}

.down{
    width: 2.5%;
    height: 5.5%;
}

/*Page 4*/

#arrow1{
position: absolute;
top: 580px;
left: 50px;
}
#arrow2{
position: absolute;
top: 580px;
left: 270px;
}
#arrow3{
position: absolute;
top: 580px;
right:50px; 
}
#arrow4{
position: absolute;
top: 580px;
right: 500px;
}
#arrow5{
position: absolute;
top: 580px;
right: 270px;
}


/*Meneu Bars*/
header{
    margin: 100px auto;
    width: 14.25%;
    height: 80px;
    display: inline;
}
.icon{
width: 23.5%;
height: 55%;
vertical-align: middle;
position: relative;
top: 14px;
left: 3px;

}
.label{
    font-size: 13pt; 
    position: relative;
    top: -42%;
    margin-left:60px;
}
.label1{
    text-indent: -18px;
    left: 10px;
    font-weight: 
}
pre.test{
    font-size: 13pt; 
    position: relative;
    top: -55%;
    margin-left: 17px;
    text-indent: 40px;
}
div.menubar{        
    position: relative;
    top: 97px;
    background-color: white;
    margin:.7px;
    float: left;
    height: 85px;
    width: Calc(100%/7.051);
    display: inline;
}
div.gradient{
    display: block;
    position: relative;
    left: -1px;
    top:-31px;
    width: 190.5px;
    height: 15px;
}
div#gradient1{
    background:linear-gradient(90deg,gray,white);
}
div#gradient2{
    background:linear-gradient(90deg,#E9DC68,white);    
}
div#gradient3{
    background:linear-gradient(90deg,#E55C4C,white);    
    position: absolute;
    top: 70.5px;
}
div#gradient4{
    background:linear-gradient(90deg,#A85EB6,white);    
}

div#gradient5{
    background:linear-gradient(90deg,#634A81,white);    
}
div#gradient6{
    background:linear-gradient(90deg,#3196DE,white);    
}
div#gradient7{
background:linear-gradient(90deg,#50EFBB,white);    
}





/*First Page*/
h1.heading {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-weight: 500;
    font-size: 36pt;
    color: #4c498b;
}
.content {
    padding: 0 20px;
    position: relative;
    top: 120px;
    text-align: center;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.container {
    text-align: center;
}

img#arrow-down {
    width: 60px; 
    height: 60px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 270px;
    left: 0;
    bottom: 0;
    right: 0;
}
button#click-here {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-weight: 700;
    color: #4c498b;
    font-size: 36pt;
}
/*3rd page code*/

.moneyBars {
    width: 24%;
    height: 10%;
    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: fixed;
    top: 9.5%;
    left: 0%;
}
body {
    background-color: #EAEDF2;
}
#tutorialOfPage3 {
    position: absolute;
    top: 35%;
    left: 37%;
    font-size: 36pt;
    font-family: "Roboto";
    color: #4C478C;
    font-weight: bold;
}
#dollarIcon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -10px;
    left: 2px;
}
#savingMoney {
    width: 55px;
    height: 45px;
    position: absolute;
    top: 63%;
    left: 45%;
}

/*6th Page Code*/

#topBarsDateCollection {
    width: 100%;
    height: 5%;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0px;
}
#dateCollection {
    width: 13%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 11%;
}
#leftArrow {
    width: 0;
    height: 0;
    border-top: 16.9px solid transparent;
    border-bottom: 16.9px solid transparent;
    border-right: 16.9px solid white;
    position: absolute;
    top: 0px;
    left: 9.779%;
}
#rightArrow {
    width: 0;
    height: 0;
    border-top: 16.9px solid transparent;
    border-bottom: 16.9px solid transparent;
    border-left: 16.9px solid white;
    position: absolute;
    top: 0px;
    left: 24.022345%;
}

#dashBorder {
    width: 100%;
    border: green;
    border-style: dashed;
    border-width: 1px;
    border-color: white;
    position: relative;
    top: 48%;
    left: 0%;
}
#timeZone {
    font-family: 'Roboto';
    font-size: 18pt;
    position: absolute;
    top: -25px;
    left: 27px;
}

#socailmoodHappy1{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 5.7%;
    right: 34%;
}

#socailmoodHappy2{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 5.7%;
    right: 29%;
}

#socailmoodHappy3{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 5.7%;
    right: 24%;
}

#socailmoodHappy4{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 5.7%;
    right: 19%;
}

#socailmoodSad1{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 5.7%;
    right: 14%;
}
#commentOnPage6{
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 36px;
    font-family: "Roboto";
    color: #4C478C;
    font-weight: bold;
}

/*Page 7*/
.one{
      width: 99%;
      height: 75%;
      position: absolute;
      bottom: 0px;
}

hr {
       display: block;
       margin-top: 3em;
       margin-bottom: 3em;
       border-style: inset;
       border-width: 1px;
}