body{
	background-color: #eaedf2;
	color: #4c498b;
	font-family:'roboto'; 
}

h1{	
position: absolute;
left: 28%;
top: 250px;
font-size: 36pt;

}

#pointer{
width: 2.5%;
height: 4%;
position: absolute;
top: 410px;
left: 600px;
}
.down{
width: 2.5%;
height: 5.5%;
}

#arrow1{
position: absolute;
top: 580px;
left: 50px;
}
#arrow2{
position: absolute;
top: 580px;
left: 270px;
}
#arrow3{
position: absolute;
top: 580px;
right:50px; 
}
#arrow4{
position: absolute;
top: 580px;
right: 500px;
}
#arrow5{
position: absolute;
top: 580px;
right: 270px;

}
#pause{
width: 4%;
height: 8%; 
position: absolute;
top: 20px;
right: 10px;
}